/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap');
/*===== VARIABLES CSS =====*/
:root{
  --header-height: 3rem;
  /*===== Font weight =====*/
  --font-medium: 600;
  --font-semi-bold: 700;
  --font-bold: 800;
  
  /*===== Colores =====*/
  --dark-color: #1e293b;
  --dark-color-light: #475569;
  --dark-color-lighten: #94a3b8;
  --white-color: #e2e8f0;
  
  /*===== Font and typography =====*/
  --body-font: 'Ubuntu', sans-serif;
  --big-font-size: 1.25rem;
  --bigger-font-size: 1.5rem;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .813rem;
  
  /*===== Margenes =====*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
  
  /*===== Rotate img =====*/
  --rotate-img: rotate(-30deg);
}

@media screen and (min-width: 768px){
  :root{
    --big-font-size: 1.25rem;
    --bigger-font-size: 2rem;
    --biggest-font-size: 3rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--dark-color);
  line-height: 1.6;
}

h1,h2,h3,p,ul{
  margin: 0;
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
  color: var(--dark-color);
}
a:hover{
  color: var(--dark-color-light);
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

article{
  filter: drop-shadow(0 12px 8px rgba(0,0,0,0.5));
}

/*===== CLASS CSS ===== */
.section{
  padding: 5rem 0 2rem;
}

.section-title{
  position: relative;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-4);
  text-align: center;
  letter-spacing: .1rem;
}

.section-title::after{
  content: '';
  position: absolute;
  width: 56px;
  height: .18rem;
  top: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--dark-color);
}
/*===== LAYOUT =====*/
.bd-grid{
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.l-header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--dark-color-lighten);
}

/*===== NAV =====*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 70%;
    height: 100vh;
    padding: 2rem;
    background-color: var(--white-color);
    transition: .5s;
  }
}

.nav__item{
  margin-bottom: var(--mb-4);
}

.nav__logo{
  font-weight: var(--font-semi-bold);
}

.nav__toggle, .nav__shop{
  font-size: 1.3rem;
  cursor: pointer;
}


/*Show menu*/
.show{
  left: 0;
}

/*Active link*/
.active{
  position: relative;
}

.active::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 45%;
  width: 4px;
  height: 4px;
  background-color: var(--dark-color);
  border-radius: 50%;
}

/*Change color header*/
.scroll-header{
  background-color: var(--white-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/*===== HOME =====*/
.home{
  background-color: var(--dark-color-lighten);
  overflow: hidden;
}

.home__container{
  height: calc(100vh - var(--header-height));
}

.home__goods{
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
}

.home__shape{
  width: 220px;
  height: 220px;
  background-color: var(--dark-color);
  border-radius: 50%;
}

.home__img{
  position: absolute;
  top: 1.5rem;
  max-width: initial;
  width: 275px;
  filter: drop-shadow(0 12px 8px rgba(0,0,0,.5));
  transform: var(--rotate-img);
  transition: .5s;
}
.home__img:hover{
  transform: scale(1.2)
}

.home__new{
  display: block;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-2);
}

.home__title{
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-1);
}

.home__description{
  margin-bottom: var(--mb-6);
}

/*BUTTONS*/
.button{
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 1.125rem 2rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
  transition: .3s;
}

.button:hover{
  transform: translateY(-.25rem);
}

.button-shop{
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: .125rem 2rem;
  font-weight: var(--font-medium);
  border-radius: .5rem;
  transition: .3s;
}

.button-shop:hover{
  transform: scale(.85);
}

.button-light{
  display: inline-flex;
  color: var(--dark-color);
  font-weight: var(--font-bold);
  align-items: center;
}

.button-icon{
  font-size: 1.25rem;
  margin-left: var(--mb-1);
  transition: .3s;
}

.button-light:hover{
  transform: translateX(.25rem);
}

/*===== FEATURED =====*/
.featured__container{
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.goods{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: var(--dark-color-lighten);
  border-radius: 4rem;
  transition: .3s;
}

.goods__sale{
  position: absolute;
  left: .5rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  transform: rotate(-90deg);
  letter-spacing: .1rem;
}

.goods__new{
  position: absolute;
  left: .5rem;
  top: 1rem;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-size: var(--h2-font-size);
  transform: rotate(-30deg);
  letter-spacing: .1rem;
}

.goods__img{
  width: 220px;
  margin-top: var(--mb-3);
  margin-bottom: var(--mb-6);
  transform: var(--rotate-img);
  filter: drop-shadow(0 12px 8px rgba(0,0,0,.5));
  transition: .3s;
}

.goods__name, .goods__preci{
  font-size: var(--h2-font-size);
  letter-spacing: .1rem;
  font-weight: var(--font-semi-bold);
}

.goods__name{
  margin-bottom: var(--mb-1);
}

.goods__preci{
  margin-bottom: var(--mb-4);
}

.goods:hover{
  transform: translateY(-.5rem)
}

.goods__img:hover{
  transform: scale(1.5)
}

.goods__pages{
  justify-items: center;
  margin-top: var(--mb-6);
}

.goods__pag{
  padding: .7rem 1rem;
  border: 1px solid var(--dark-color);
  border-radius: 100%;
}

.goods__pag:hover{
  background-color: var(--dark-color);
  color: var(--white-color);
}

/*===== COLLECTION =====*/
.collection__container{
  row-gap: 2rem;
  justify-content: center;
}

.collection__card{
  position: relative;
  display: flex;
  height: 328px;
  background-color: var(--dark-color-lighten);
  padding: 2rem;
  border-radius: .5rem;
  transition: .3s;
}

.collection__data{
  align-self: flex-end;
}

.collection__img{
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
}

.collection__name{
  font-size: var(--bigger-font-size);
  margin-bottom: .25rem;
}

.collection__description{
  margin-bottom: var(--mb-2);
}

.collection__card:hover{
  transform: translateY(-.5rem);
}

/*===== WOMEN goodsS =====*/
.women__container{
  row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

/*===== OFFER =====*/
.offer__container{
  grid-template-columns: 55% 45%;
  column-gap: 0;
  background-color: var(--dark-color-lighten);
  border-radius: 2rem;
  justify-content: center;
}

.offer__data{
  padding: 4rem 0 4rem 1.5rem;
}

.offer__title{
  font-size: var(--biggest-font-size);
  margin-bottom: .25rem;
}

.offer__description{
  margin-bottom: var(--mb-3);
}

.offer__img{
  width: 153px;
}

/*===== NEW COLLECTION  =====*/
.new__container{
  row-gap: 2rem;
}

.new__mens{
  display: flex;
  flex-direction: column;
  justify-content:center;
  background-color: var(--dark-color-lighten);
  border-radius: .5rem;
  padding: 2rem;
}

.new__mens-img{
  width: 276px;
  margin-bottom: var(--mb-3);
}

.new__title{
  font-size: var(--bigger-font-size);
  margin-bottom: .25rem;
}

.new__preci{
  display: block;
  margin-bottom: var(--mb-3)
}

.new__goods{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.new__goods-card{
  position: relative;
  padding: 3.5rem 1.5rem;
  background-color: var(--dark-color-lighten);
  border-radius: 3rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.new___goods-img{
  width: 220px;
}

.new__goods-overlay{
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(138, 138, 138, .3);
  transition: .3s;
}

.new__goods-card:hover .new__goods-overlay{
  bottom: 0;
}

/*===== NEWSLETTER =====*/
.newsletter__container{
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 2rem .5rem;
  text-align: center;
}

.newsletter__title{
  font-size: var(--bigger-font-size);
  margin-bottom: var(--mb-2);
}

.newsletter__description{
  margin-bottom: var(--mb-5);
}

.newsletter__subscribe{
  display: flex;
  column-gap: .5rem;
  background-color: var(--white-color);
  padding: .5rem;
  border-radius: .5rem;
}

.newsletter__input{
  outline: none;
  border: none;
  width: 100%;
  font-size: var(--normal-font-size);
}

.newslettr::placeholder{
  color: var(--dark-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

/*===== FOOTER =====*/
.footer__container{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.footer__box{
  margin-bottom: var(--mb-4);
}

.footer__title{
  font-size: var(--big-font-size);
}

.footer__link{
  display: block;
  width: max-content;
  margin-bottom: var(--mb-1);
}

.footer__social{
  font-size: 1.5rem;
  margin-right: 1.25rem;
}

.footer__copy{
  padding-top: 3rem;
  font-size: var(--smaller-font-size);
  color: var(--dark-color-light);
  text-align: center;
}

/*===== SHOP =====*/
.search__container{
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 2rem .5rem;
  text-align: center;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 576px) {
  .collection__container{
    grid-template-columns: 415px;
  }

  .collection__img{
    width: 260px;
  }

  .offer__container{
    grid-template-columns: max-content max-content; 
  }

  .offer__data{
    text-align: center;
  }

  .new__mens{
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section{
    padding: 7rem 0 3rem;
  }

  .section-title::after{
    width: 76px;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__menu{
    margin-left: auto;
  }

  .nav__list{
    display: flex;
  }

  .nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav__toggle{
    display: none;
  }

  .home__container{
    height: 100vh;
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
  }
  .home__goods{
    order: 1;
  }
  .home__shape{
    width: 376px;
    height: 376px;
  }
  .home__img{
    width: 470px;
    top: 3.5rem;
    right: 0;
    left: -3rem;
  }

  .newsletter__container{
    grid-template-columns: max-content max-content;
    justify-content: center;
    align-items: center;
    padding: 4.5rem 2rem;
    column-gap: 3rem;
  }
  .newsletter__description{
    margin-bottom: 0;
  }
  .newsletter__subscribe{
    width: 360px;
    height: max-content;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid{
    margin-left: auto;
    margin-right: auto;
  }

  .home__container{
    column-gap: 8rem;
  }

  .collection__container{
    grid-template-columns: repeat(2, 415px);
  }
}

/* NEW */

.sidebar .sidebar-widget {
  padding: 10px 20px;
  background-color: var(--dark-color-lighten);
  margin-bottom: 20px;
  border-radius: 2rem;
}

.sidebar .sidebar-title h3 {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.sidebar .sidebar-widget .widget-title h3 {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 500;
  position: relative;
  padding-bottom: 10px;
  padding-top: 5px;
  border-bottom: 0.0625rem solid #e9ecef;
  text-transform: uppercase;
}

.sidebar .sidebar-widget .widget-categories ul,
.sidebar .sidebar-widget .widget-brands ul {
  color: var(--dark-color);
  margin: 0;
  list-style: circle;
  font-size: 0.9rem;
}

.sidebar .sidebar-widget .widget-categories ul li,
.sidebar .sidebar-widget .widget-brands ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
}

.sidebar .sidebar-widget .widget-categories ul li a,
.sidebar .sidebar-widget .widget-brands ul li a {
  color: var(--dark-color);
}

.sidebar .sidebar-widget .widget-categories ul li a:hover,
.sidebar .sidebar-widget .widget-brands ul li a:hover {
  color: var(--dark-color);
  transition: 0.5s;
}

/* SLIDER RANGE */

.shop-by-price .price-filter {
  display: block;
  margin-top: 20px;
}

.shop-by-price #slider-range {
  box-shadow: none;
  border: none;
  height: 4px;
  background: var(--white-color);
  color: var(--dark-color-light);
  border-radius: 0px;
}

.shop-by-price #slider-range .ui-slider-range {
  box-shadow: none;
  background: #222;
  border-radius: 0px;
  border: none;
}

.shop-by-price .ui-slider-handle.ui-state-default.ui-corner-all {
  width: 14px;
  height: 14px;
  line-height: 10px;
  background: #222;
  border: none;
  border-radius: 100%;
  top: -5px;
}

.shop-by-price .label-input {
  margin-top: 15px;
}

.shop-by-price .label-input > button {
  background-color: transparent;
  border: medium none;
  display: inline-block;
  font-weight: 500;
  line-height: 1;
  padding: 4px 0 0;
  text-transform: capitalize;
  float: right;
  font-size: 14px;
}

.shop-by-price .ui-slider-handle.ui-state-default.ui-corner-all {
  background: var(--dark-color);
  color: var(--dark-color);
  cursor: pointer;
}

.shop-by-price .label-input input {
  border: none;
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #222;
  background: transparent;
}

.shop-by-price .check-box-list {
  margin-top: 15px;
}

.shop-by-price .check-box-list li {
  margin-bottom: 5px;
}

.shop-by-price .check-box-list li:last-child {
  margin: 0;
}

.shop-by-price .check-box-list li label input {
  display: inline-block;
  margin-right: 6px;
  position: relative;
  top: 1px;
}

.shop-by-price .check-box-list li label {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  cursor: pointer;
}

.shop-by-price .check-box-list .count {
  margin-left: 5px;
  color: #666;
}

/* LOADING */
#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(0,0,0,0.9);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:#fff;
}

/* DETAIL */
.detail__card{
  overflow: hidden;
  background-color: var(--dark-color-lighten);
  padding: 2rem;
  border-radius: 3rem;
}
.thumbnail_images ul{
  list-style: none;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-top:10px;
}
.thumbnail_images ul li{
  margin: 5px;
  padding: 10px;
  border: 2px solid #eee;
  cursor: pointer;
  transition: all 0.5s
}
.thumbnail_images ul li:hover{
  border: 2px solid var(--dark-color)
}
.main_image{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 400px;
  width: 100%;
  overflow: hidden
}
.heart{
  height: 29px;
  width: 29px;
  background-color: #eaeaea;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center
}
.content p{
  font-size: 12px
}
.ratings span{
  font-size: 14px;
  margin-left: 12px
}
.goods__sizes{
  margin-top: var(--mb-1);
}

.goods__size{
  padding: .7rem 1rem;
  border: 1px solid var(--dark-color);
  background: var(--dark-color-lighten)
}

.goods__size:hover{
  background-color: var(--dark-color);
  color: var(--white-color);
}
.right-side{
  position: relative
}
.search-option{
  position: absolute;
  background-color: var(--dark-color);
  overflow: hidden;
  align-items: center;
  color: #fff;
  width: 200px;
  height: 200px;
  border-radius: 49% 51% 50% 50% / 68% 69% 31% 32%;
  left: 30%;
  bottom: -250px;
  transition: all 0.5s;
  cursor: pointer
}
.search-option .first-search{
  position: absolute;
  top: 20px;
  left: 90px;
  font-size: 20px;
  opacity: 1000
}
.search-option .inputs{
  opacity: 0;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
  position: relative
}
.search-option .inputs input{
  position: absolute;
  top: 200px;
  left: 30px;
  padding-left: 20px;
  background-color: transparent;
  width: 300px;
  border: none;
  color: #fff;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
  z-index: 10
}
.search-option .inputs input:focus{
  box-shadow: none;
  outline: none;
  z-index: 10
}.search-option:hover{
  border-radius: 0px;
  width: 100%;
  left: 0px
}
.search-option:hover .inputs{
  opacity: 1
}.search-option:hover .first-search{
  left: 27px;
  top: 25px;
  font-size: 15px
}
.search-option:hover .inputs input{
  top: 20px
}
.search-option .share{
  position: absolute;
  right: 20px;
  top: 22px
}
.buttons .btn{
  height: 50px;
  width: 150px;
  border-radius: 0px !important
}

/* QTY COUNTER */
.counter {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  background: var(--dark-color);
  color: #fff;
  appearance: none;
  outline: 0;
  border-radius: 2rem;
}
.counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: var(--dark-color);
  user-select: none;
}

/* CART */

.title{
  margin-bottom: 5vh;
}
.card{
  margin: auto;
  max-width: 950px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}
@media(max-width:767px){
  .card{
      margin: 3vh auto;
  }
}
.cart{
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
@media(max-width:767px){
  .cart{
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem;
  }
}
.summary{
  background-color: var(--dark-color-lighten);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: var(--dark-color-light);
}
@media(max-width:767px){
  .summary{
  border-top-right-radius: unset;
  border-bottom-left-radius: 1rem;
  }
}
.summary .col-2{
  padding: 0;
}
.summary .col-10
{
  padding: 0;
}.row{
  margin: 0;
}
.title b{
  font-size: 1.5rem;
}
.main{
  margin: 0;
  padding: 2vh 0;
  width: 100%;
}
.col-2, .col{
  padding: 0 1vh;
}
a{
  padding: 0 1vh;
}
.close{
  margin-left: auto;
  font-size: 0.7rem;
}
img{
  width: 3.5rem;
}
.back-to-shop{
  margin-top: 4.5rem;
}
h5{
  margin-top: 4vh;
}
hr{
  margin-top: 1.25rem;
}
form{
  padding: 2vh 0;
}
select{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
    color:transparent;
}
.btn__cart{
  background-color: var(--dark-color);
  border-color: var(--dark-color);
  color: var(--white-color);
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}
.btn__cart:focus{
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: var(--white-color);
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none; 
}
.btn__cart:hover{
  color: var(--white-color);
}
a{
  color: black; 
}
a:hover{
  color: black;
  text-decoration: none;
}
#code{
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}